.hdg {
	color: var(--todo-color-accent);
	font-size: 10rem;
	font-weight: 100;
	line-height: 1.3;
	text-align: center;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
