:root {
	--todo-color-background: hsla(0, 0%, 96%, 1);
	--todo-color-foreground: hsla(0, 0%, 30%, 1);

	--todo-color-accent: hsla(0, 58%, 44%, 0.15);
	--todo-color-secondary: hsla(0, 0%, 75%, 1);

	--todo-color-border: hsla(0, 0%, 90%, 1);
	--todo-color-separator: hsla(0, 0%, 93%, 1);

	--todo-color-black: hsla(0, 0%, 0%, 1);
	--todo-color-white: hsla(0, 0%, 100%, 1);

	--todo-font: 300 1.4rem/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
